/* Table Styles */
table {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.anime-row {
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.anime-row td {
    background-color: rgba(0, 0, 0, 0.6);
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    padding: 20px;
}

.anime-row:hover {
    transform: scale(1.1);
    z-index: 10;
}

.anime-row:hover td {
    color: black;
    text-shadow: 2px 2px 4px white;
    background-color: rgba(255, 255, 255, 0.6);
}

.anime-row td:first-child {
    width: 50px;
    font-weight: bold;
}
